/* Code based on @davrous' work */

html, body {
    -ms-user-select: none;
    user-select: none;
}
body {
    background-color: black;
}

#myGreatPicture {
    touch-action: none; /* Disable touch behaviors, like pan and zoom */
    transform: translateX(100px) translateY(100px) scale(0.2);
    z-index: 0;
    width: 1024px;
    height: 768px;
    background-image: url(flowersc.jpg);
}

.container {
    position: absolute;
    overflow: visible;
    transform-origin: 0px 0px;
    margin: 0px;
    padding: 0px;
    border: 20px solid #fff;
}
